body{
    background-color: #F4976C;
    color: black;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

.nav-link{
    color: white !important;
    font-size: 1.2rem;
}

.container-basic{
    background-color: #B4DFE5;
}

.name{
    font-size: 5rem;
    font-weight: 900;
    color: #303C6C;
    /* text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25); */
}

.title{
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    /* text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25); */
}

.description{
    font-size: 1.5rem;
    color: white;
}

.btn{
    background-color: #00ADB5;
    color: whitesmoke;
    font-weight: 900;
    border-radius: 15;
    border: none;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.header-container{
    height: max-content;
}

.about-text{
    font-size: 1.5rem;
    /* text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25); */
}

.exp-card{
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 15px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid #00ADB5;
}

.exp-card:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.project-card{
    background-color: #B4DFE5;
}


.nav-item:hover{
    background-color: #00ADB5;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #303C6C!important;
}

.unreal {
    background: url('./images/webimages/unreal.png');
    height: 50px;
    width: 50px;
    display: inline-block;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.unity {
    background: url('./images/webimages/unity.svg');
    width: 90px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}